<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="a personal blog of Lakshmana Prabhu Venkatesan where he shares his learnings about the
          fundamentals of everything in life.">
  <meta name="author" content="Lakshmana Prabhu Venkatesan | lakshmanav">
  
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap-social.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/app.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}img/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
</head>
