<div class="col-sm-4 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module sidebar-module-inset">
		<div class="media">
			<span class="media-left">
				<img src="http://www.gravatar.com/avatar/821bdd5fd611f15f372f77eb09ff543d.png" alt="Lakshmana Prabhu Venkatesan" class="img-circle" />
			</span>
			<div class="media-body">
				<h4 class="media-heading">
					Hello there !
				</h4>
				I'm Lakshman. a fun loving father, programmer by profession, trying to understand the fundamentals of everything in life
			</div>
		</div>
	</div>
	<p>
		<a class="btn btn-block btn-social btn-linkedin">
			<i class="fa fa-linkedin"></i> Get Connected
		</a>
	</p>
</div><!-- /.blog-sidebar -->