<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container">
        <div class="blog-header">
            <h2>Stay hungry. Stay Foolish</h2>
            <hr />
        </div>
		<div class="col-sm-7 blog-main">
			{{ content }}
		</div>
		<div class="col-sm-4 col-sm-offset-1 blog-sidebar">
			<div class="sidebar-module sidebar-module-inset">
				<div class="media">
					<span class="media-left">
						<img src="http://www.gravatar.com/avatar/821bdd5fd611f15f372f77eb09ff543d.png" alt="Lakshmana Prabhu Venkatesan" class="img-circle" />
					</span>
					<div class="media-body">
						<h4 class="media-heading">
							Hello there !
						</h4>
						I'm Lakshman. a fun loving person, programmer by passion & profession, trying to understand the fundamentals of everything in life
					</div>
				</div>
			</div>
			<p>
				<a class="btn btn-block btn-social btn-linkedin" href="https://linkedin.com/in/lakshmanav">
					<i class="fa fa-linkedin"></i> Get Connected
				</a>
			</p>
			<br>
			<div>
			<i class="fa fa-quote-left fa-3x pull-left text-muted"></i>a journey of thousand miles begins with a single step
			</div>
			<span class="text-muted small"> - Lao Tzu</span>
		</div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62561381-1', 'auto');
	  ga('send', 'pageview');

	</script>
  </body>
</html>
